/*
GENERAL STYLES
*/
header, footer, main {
    margin: 0 auto;
}

header {
    padding: 20px 0;
    max-width: 800px;
}

main {
    max-width: 800px;
}

footer {
    width: 100%;
}

button:hover {
    cursor: pointer;
}
/*
TYPOGRAPHY
*/
* {
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

h1 {
    font-weight: 300;
    font-size: 3.5rem;
}

h2 {
    font-weight: 300;
    font-size: 1.8rem;
}

label {
    font-weight: 600;
}

th {
    font-weight: 600;
}

td {
    font-size: 0.9rem;
}

footer span {
    font-size: 0.8rem;
}

button {
    color: #fafafa;
}

/*
COLOURS
*/
body {
    background-color: #fafafa;
}

.form-submit-btn {
    background-color: hsla(213, 32%, 52%, 80%);
}

.form-submit-btn:hover {
    background-color: hsla(213, 32%, 52%, 100%);
}

.book-delete-btn {
    background-color: hsla(354, 100%, 40%, 80%);
}

.book-delete-btn:hover {
    background-color: hsla(354, 100%, 40%, 100%);
}

/*
HEADER
*/
h1 {
    border-bottom: 1px solid darkgrey;
}

/*
INFO SECTION
*/
.information-section {
    border-bottom: 1px solid darkgrey;

}

.information-container {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    padding: 8px 0;
}

.info span {
    margin-right: 10px;
}

/*
FORM
*/
.form-container {
    padding: 5px 0 10px 0;
    border-bottom: 1px solid darkgrey;
}

.inputs-wrapper {
    display: flex;
    justify-content: space-between;
}

.input-wrapper label {
    display: block;
}

input {
    height: 30px;
    width: 220px;
    border: 1px solid darkgrey;
    border-radius: 5px;
    padding-left: 5px;
}

select {
    height: 30px;
    border: 1px solid darkgrey;
}

input:focus, select:focus {
    outline: 1px solid #5E81AC;
    border: none;
}

input, select {
    margin-top: 2px;
}

.form-submit-btn {
    margin-top: 10px;
    padding: 5px 15px;
    border-radius: 5px;
    border: 1px solid darkgray;
}

/*
TABLE
*/
table {
    width: 100%;
    border-collapse: collapse; 
}

th {
    text-align: left;
    padding: 15px 0;
}

tr {
    border-bottom: 1px solid darkgrey;
}

td {
    width: 20%;
    padding: 20px 0;
    
}

.book-delete-btn {
    padding: 0px 15px;
    border-radius: 5px;
    border: 1px solid darkgray;
}

/*
FOOTER
*/
footer {
    position: absolute;
    bottom: 0;
    text-align: center;
}

/*
MEDIA QUERIES
*/
@media only screen and (max-width: 850px) {
    header, main {
        max-width: 80%;
    }
    .information-container {
        display: block;
    }
    .inputs-wrapper {
        display: block;
    }
    input {
        width: 80%;
    }
    footer {
        margin-top: 20px;
        position: relative;
    }
}